.text {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1em;
    color: rgb(40, 40, 40);
    text-align: left;
    user-select: none; 
}

.text-link {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: rgb(50, 50, 255);
    user-select: none; 
}

.text-link:hover {
    cursor: pointer;
}

.text-error {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: rgb(250, 50, 50);
    user-select: none; 
}

.container {
    display: grid;
    grid-template-rows: auto auto auto;      
    justify-content: center;
}

.login-container {
    display: grid;
    grid-template-columns: auto auto;
}

.input-email {
    margin-top: 1em;
    width: 20em;
}

.login-button {
    background-color: rgb(100, 100, 255);
    border-radius: 5px;
    margin-bottom: 1em;
    margin-top: 1em;
}

.login-button:hover {
    background-color: rgb(50, 50, 255);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.login-button:disabled {
    background-color: rgb(180, 180, 180); 
    color: rgb(255, 255, 255); 
    box-shadow: none;
}