<div class="container">
    <div class="button-container">
        <ul>
            <li>
                <button mat-raised-button (click)="this.getAccountInfo(4)">Account 4</button>                
            </li>
            <li>
                <button mat-raised-button (click)="this.getAccounts()">Accounts</button>
            </li>
            <li>
                <button mat-raised-button (click)="this.addAccount()">New Account</button>
            </li>
            <li>
                <button mat-raised-button (click)="this.editAccount(12, this.editedAccount)">Edit Account</button>
            </li>
            <li>
                <button mat-raised-button (click)="this.deleteAccount(36)">Delete Account</button>
            </li>
        </ul>
    </div>
    <div class="output-container">
        <textarea id="output" rows="50" cols="100" [value]="this.output"></textarea>
    </div>
</div>